<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matias.domuapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.profesional.MapProfesionistaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.cliente.MapClienteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profesional.RegisterProfesionistaActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />
        <activity
            android:name=".activities.cliente.RegisterActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />
        <activity
            android:name=".activities.SelectOptionAuthActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>
    </application>

</manifest>